.topbar {
    width: 100%;
}

.topbar-container {
    margin: 0 auto;
}

.topbar-row {
    display: flex;
    margin-left: 20px;
    justify-content: space-between;
    align-items: center;
}

/* Topbar Left */
.topbar-left {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

.contact-info {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.separator {
    color: #656565;
    padding-left: 1rem;
    padding-right: 1rem;
}
/* Topbar Right */
.topbar-right {
    position: relative;
    text-align: right;
    padding-right: 15px;
    padding-left: 15px;
}

.social-icons {
  display: inline-flex;
  align-items: center;
  margin-top: 0px !important;
}

.social-link {
    color: #7AB730;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

.social-link i {
  transition: transform 0.1s ease;
}

.social-link i:hover {
  transform: scale(1.1);
  color: #035316;
}

@media (max-width: 900px) {
    .topbar {
        display: none;
    }
}