.guides-section {
    padding: 15px;
}

body > div.guides-section > div {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.section-header {
    text-align: center;
    margin-bottom: 40px;
}
  
.guides-section-subtitle {
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 1rem;
    color: #7AB730;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
}
  
.guides-section-title {
    font-size: calc(1.375rem + 1.5vw) !important;
    font-weight: 700 !important;
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: #222;
}

.guides-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.guide-card {
    display: block;
    max-width: 230px;
}

.guide-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.image-container {
    position: relative;
    display: inline-block;
}
  
.guide-image {
    width: 100%;
    height: auto;
    display: block;
}

.image-container {
    position: relative;
}

.team-social-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 8px;
    opacity: 0; /* скрыты изначально */
    transition: opacity 0.3s ease;
}

/* Показывать иконки при наведении на контейнер */
.image-container:hover .team-social-icons {
    opacity: 1;
}

.team-social-btn {
    width:40px;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent; /* прозрачный фон */
    border: 1px solid #7AB730;
    border: radius 1px;
    cursor: pointer;
    transition:.3s all ease;
    text-decoration: none;
}

.team-social-btn i {
    color: #7AB730;
    font-size: 14px;
}

.team-social-btn:hover {
    background-color: #7AB730;
}
  
.team-social-btn:hover i {
    color: #fff;
}

.card-info {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

.name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 1.2;
    color: rgb(33, 33, 33);
    font-size: 1.25rem;
    font-weight: 500;
    margin: 8px;
    color: rgb(33, 33, 33);
}
.role {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(101, 101, 101);
    margin: 8px;
}
  
@media(max-width:768px){
    .guides-row{
        justify-content: center ;
    }
    .guide-card{
        width: 100% ;
    }
}